---
layout: default
bodyClass: pagCont
---

<section class='wrapper'>
  {% include armazem_logo.html logoClass='smallLogo' %}

  <section class='pageContent contactSect'>
    <div><p>Este espaço é aberto para você manifestar suas sugestões, críticas e opiniões sobre o Armazém Vale das Palmeiras. Seus comentários são muito importantes. É por meio deles que nos esforçamos atendê-los melhor a cada dia. Agradecemos a sua participação!</p></div>
    <h2>Contato</h2>
    <div>
      {% include form02.html %}
      <img src='{{site.baseurl}}/assets/img/img_05.png' alt='Interior do Armazém'>
    </div>
  </section>
</section>
